<ion-header>
  <ion-navbar>
    <ion-title>
      Clocky
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!clockedIn" class="center">Get to work, buddy!</div>
  <div *ngIf="clockedIn" class="center">Keep up the good work!</div>
  <br>
  <div class="center button-wrap">
    <button *ngIf="!clockedIn" (tap)="clockedIn = !clockedIn" ion-button color="secondary">Clock In</button>
    <button *ngIf="clockedIn" (tap)="clockedIn = !clockedIn" ion-button color="danger">Clock Out</button>
  </div>
</ion-content>
