<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <div *ngIf="google.user().email" (tap)="confirmLogout()">
        <img class="profile-photo" src="{{google.user().imageUrl}}" alt="Profile Photo">
      </div>
      <button *ngIf="!google.user().email" ion-button icon-only (tap)="google.login()">
        <ion-icon name="logo-googleplus"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Clocky
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="navigate('history')">
        <ion-icon name="list"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!clockedIn" class="center"><h1>Clocked OUT</h1></div>
  <div *ngIf="clockedIn" class="center"><h1>Clocked IN</h1></div>
  <br>
  <div [ngClass]="{'tada': clockedIn, 'rubberBand': !clockedIn}" class="animated center button-wrap">
    <button *ngIf="!clockedIn" (tap)="toggleIn()" ion-button color="secondary">Clock In</button>
    <button *ngIf="clockedIn" (tap)="toggleIn()" ion-button color="danger">Clock Out</button>
  </div>
</ion-content>
